.header-container {
    height: 70px;
    padding-top: 30px;
}

.header-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.header-nav a {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    margin-right: 35px;
}

.header-nav-mine {
    color: #202336;
    font-weight: 500;
}

.header-link {
    color: #B8BECD;
}

/* buttons-auth */

.header-buttons {
    display: flex;
    justify-content: space-between;
}

.header-buttons-log {
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: 10;
    animation-name: test;
    background-color: white;
    border: 2px solid #FB8F1D;
    width: 160px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 18px;
    text-decoration: none;
    color: #FB8F1D;
    font-family: 'Inter', sans-serif;
}
@keyframes test {
    0%  {left: 0px;top: 0px;transform: rotate(0deg);width: 40%}
    25%  {left: 200px;top: 0px;transform: rotate(0deg);width: 45%}
    50%  {left: 200px;top: 200px;transform: rotate(0deg);width: 50%}
    75%  {left: 0px;top: 200px;transform: rotate(0deg);width: 45%}
    100%  {left: 0px;top: 0px;transform: rotate(0deg);width: 40%}
}
.header-buttons-reg {
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: 10;
    animation-name: test;
    background-color: #FB8F1D;
    width: 160px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
}
.header-buttons-log:hover {
    background: linear-gradient(#f5ae00, #f59500) #f5ae00;
}

.header-buttons-reg:active {
    background: linear-gradient(#f59500, #f5ae00) #f59500;
}
.header-main:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*.header-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}
*/
